<?xml version="1.0" encoding="utf-8"?>

<!-- HUB PAGES -->
  
<configuration>
  <appSettings>
    <add key="adminUserName" value="mcrowther" />
    <add key="adminPassword" value="LxzYZTL@3KjX!$yV" />
   <!-- Encrypted version:-->
<!--    <add key="adminPassword" value="JGPg7Bd4Bmh3DU43j08uWig86BPlKY91upSB4lP2U/E="/> -->
  </appSettings>
</configuration>