<?xml version="1.0" encoding="utf-8"?>

<!-- HUB Automation Tests -->

<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
  <appSettings>
    <add key="AdminUsername" value="mcrowther" />
    <add key="AdminPassword" value="JGPg7Bd4Bmh3DU43j08uWig86BPlKY91upSB4lP2U/E="/>
  </appSettings>
</configuration>